extends layout
block head
    script(src='/public/associateFunctions.js')
    script.
        window.onload = () =>
        {
            console.log("Page loaded");
            wsInit();
        }
block content

    h1 Store Waiting Line Controls
    h2
        table
            tr
                td(align="right").
                    Store Capacity
                td(align="right").
                    #{capacity}
            tr
                td(align="right").
                    Individuals In Store
                td(align="right")
                    em(id='individualsInStore')
    p
    h2
        table
            tr
                td(align="right").
                    Number of Groups
                td(align="right")
                    em( id="podsInLine")
            tr
                td(align="right").
                    Individuals in Line
                td(align="right")
                    em(id='individualsInLine')
            tr
                td(align="right").
                    Next Group Name
                td(align="right")
                    em(id='nextPodName') None
            tr
                td(align="right").
                    Number in next Group
                td(align="right")
                    em(id='numberInNextPod')
        table
            tr
                td(align="left")
                    button(id='left1',
                    onclick='individualsLeft(-1)') 1 Left
                td(align='left')
                    button(id='left2',
                    onclick='individualsLeft(-2)') 2 Left
                td(align='left')
                    button(id='left3',
                    onclick='individualsLeft(-3)') 3 Left
                td(align='left')
                    button(id='left4',
                    onclick='individualsLeft(-4)') 4 Left
                td(align='left')
                    button(id='left5',
                    onclick='individualsLeft(-5)') 5 Left
        table
            tr
                td(align='left')
                    button(id='allowNextGroup',
                    onclick='allowNextGroup()') Allow Next Group In


