extends layout
block head
    script(src='javascripts/customerFunctions.js')
    script.
        window.onload = ()=>
        {
           poll();
        }
block content
    h1 Waiting
    h2 Group name: #{groupName}

    h2
        table
            tr
                td(align="right").
                    Groups Ahead
                td(align="right")
                    em(id="groupsAhead") #{queueStats.groupsAhead}
            tr
                td(align="right").
                    Individuals Ahead
                td(align="right")
                    em(id="individualsAhead") #{queueStats.individualsAhead}
            tr
                td(align="right").
                    Estimated Wait Time
                td(align="right")
                    em(id="waitTime") #{queueStats.waitTime}
        p
            button(id="mustLeave",
            onclick='leaveQueue()'
            ) I have to Leave the Line