extends layout
block head
    script(src='javascripts/customerFunctions.js')
    script.
        window.onload = ()=>
        {
           poll();
        }
block content
    h1 Waiting
    h2 Group name: #{groupname}

    h2
        table
            tr
                td(align="right").
                    Groups Ahead
                td(align="right")
                    em(id="groupsAhead") #{queueStats.pods_in_queue}
            tr
                td(align="right").
                    Individuals Ahead
                td(align="right")
                    em(id="individualsAhead") #{queueStats.customers_in_queue}
            tr
                td(align="right").
                    Estimated Wait Time
                td(align="right")
                    em(id="waitTime") #{queueStats.wait_time}
        p
            button(id="mustLeave",
            onclick='leaveQueue()'
            ) I have to Leave the Line